* {
  margin: 0px;
  padding: 0px;
  font-family: 'Pokemon Solid', sans-serif;
}


/* container properties + arrange items vertically */
.vertical-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-evenly;
}

#title-style {
  font-size: 40px;
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffde00 ;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
  1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

#song-text {
  color: #ffde00;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
  1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

#progress-text {
  color: #ffde00;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
  1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;

}

#duration-text {
  color: #ffde00;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
  1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;

}

#progress-slider {
  accent-color: #cc0000;
}

#volume-slider {
  accent-color: #cc0000;
}

#main-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffde00;

}

/* stiles for the audio container player */
#audio-container {
  height: 400px;
  width: 600px;
  margin-top: 10px;
  position: relative;
  border: solid 10px #cc0000;
  background-color:  #3b4cca;
}

/* cover image height and width */
#cover-img {
  height: 175px;
  width: 175px;
  border: 10px solid #3b4cca;
}

/* display items with flex and center vertically & horizontally */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

